@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

main {
	@include font-face('Raleway', '/assets/fonts/Raleway/Raleway-VariableFont_wght');
	min-height: calc(100vh - 70px);
	overflow: hidden;
	width: 100%;
}

.section__outer {
	box-sizing: border-box;
	display: flex;
	justify-content: center;

	.section__inner::before {
		background: linear-gradient(180deg, rgba(120, 30, 30, 0.8) 0%, rgba(4, 7, 92, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.section__inner {
		box-sizing: border-box;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		max-width: $desktop-width;

		@media (max-width: $lg-desktop-width) {
			margin: 0 rem(125);
		}

		@media (max-width: $desktop-width) {
			margin: 0 rem(50);
		}
	}
}

.col-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 10;
}

.heading {
	font-weight: 900;
	text-transform: uppercase;
}

.heading-main {
	color: #fff;
	font-size: rem(90);
	line-height: rem(100);

	@media (max-width: $desktop-width) {
		font-size: rem(60);
	}

	@media (max-width: $table-width) {
		font-size: rem(45);
		line-height: rem(55);
		text-align: center;
	}
}

$main-screen-height: 800px;

.intro-section {
	background: url('/assets/img/intro-fone.jpg') no-repeat;
	background-size: cover;
	max-width: 100%;
	position: relative;

	.bg-image {
		bottom: 0;
		margin: 0 auto;
		max-height: $main-screen-height - 200px;
		object-fit: contain;
		position: absolute;
		z-index: 5;

		@media (max-width: $table-width) {
			max-height: $main-screen-height;
			opacity: 0.4;
		}
	}
}

.intro-section__container {
	display: grid;
	grid-gap: 50px;
	grid-template: 'l r' 100%/minmax(0, 60%) minmax(0, 40%);
	justify-items: center;
	margin-bottom: rem(100);
	margin-top: rem(50);
	max-width: 100%;
	z-index: 10;

	@media (max-width: $table-width) {
		grid-gap: rem(10);
		grid-template: 'l' auto
			't' auto
			'r' auto
			'b' auto/auto;
		margin-bottom: rem(40);
		margin-top: rem(0);
		width: 100%;
	}

	.intro-text-mobile {
		color: #fff;
		font-size: rem(20);
		grid-area: t;
		margin: rem(20) 0;
		text-align: start;
	}
}

.item-left {
	grid-area: l;
}

.item-right {
	align-items: end;
	grid-area: r;

	@media (max-width: $sm-desktop-width) {
		min-width: rem(380);
	}

	@media (max-width: $table-width) {
		align-items: center;
	}
}

.intro-heading-item {
	background-size: 100%;
	height: 130px;
}

.scroll-item {
	display: flex;
	flex-direction: row;
	height: 130px;
	overflow: hidden;
	position: relative;

	@media (max-width: $phone-width) {
		height: 110px;
	}

	@media (max-width: $sm-phone-width) {
		height: 90px;
	}

	&__ztk-heading {
		max-width: rem(520);
	}

	&__background {
		bottom: 0;
		left: 0;
		margin: auto;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;

		@media (max-width: $table-width) {
			right: 0;
		}
	}

	&__badge {
		align-self: center;
		display: flex;
		height: 100px;
		margin-left: rem(35);
		width: 100px;
		z-index: 5;


		@media (max-width: $phone-width) {
			height: 80px;
			width: 80px;
		}
	}

	&__heading {
		align-self: center;
		color: #651c1c;
		display: flex;
		font-size: rem(22);
		line-height: rem(26);
		margin-left: rem(20);
		max-width: 220px;
		z-index: 5;

		@media (max-width: $table-width) {
			margin-left: rem(10);
		}
	}

	&__title {
		align-self: center;
		margin-left: rem(20);
		max-width: 420px;
		z-index: 5;

		@media (max-width: $sm-desktop-width) {
			font-size: rem(30);
			margin-left: rem(30);
		}
		@media (max-width: $table-width) {
			margin-left: 0 !important;
		}
	}
}

.button {
	align-items: center;
	background-image: url('/assets/img/button-background.jpg');
	background-size: 100%;
	border-radius: 10px;
	box-shadow: -5px 4px 0 0 #bcbcbc, 5px -4px 0 0 #bcbcbc, -5px -4px 0 0 #bcbcbc, 5px 4px 0 0 #bcbcbc;
	color: #fff;
	display: flex;
	font-size: rem(26);
	font-weight: 800;
	height: 80px;
	letter-spacing: 1px;
	max-width: fit-content;
	padding: 0 rem(40);
	text-align: center;
	text-transform: uppercase;
	transition: outline 0.25s linear;

	@media (max-width: $table-width) {
		height: auto;
		justify-content: center;
		min-width: 100%;
		padding: rem(20);
		width: 100%;
	}
}

.button:hover {
	outline: 100px solid rgba(#ec6848, 0.25);
	outline-offset: -100px;
}

.button:active {
	outline: 0 solid rgba(#ec6848, 0.25);
	outline-offset: -100px;
}

.heading-button {
	margin-top: auto;

	@media (max-width: $table-width) {
		align-items: center;
		grid-area: b;
		margin-top: rem(40);
	}
}

.desktop {
	display: inherit;

	@media (max-width: $table-width) {
		display: none;
		grid-area: b;
	}
}

.mobile {
	display: none;

	@media (max-width: $table-width) {
		display: inherit;
		grid-area: b;
	}
}

.description-section {
	background: url('/assets/img/wow-shadowlands-screenshots-revendreth.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 0 rem(30px);
	position: relative;
}

.solid-scroll-bg {
	bottom: 0;
	height: 150%;
	left: 0;
	margin: auto;
	max-width: 1440px;
	object-fit: fill;
	position: absolute;
	right: 0;
	top: 10%;
	width: 100%;
	z-index: 5;

	@media (max-width: $desktop-width) {
		height: 135%;
		top: 5%;
	}

	@media (max-width: $table-width) {
		height: 135%;
		top: 10%;
	}

	@media (max-width: $sm-table-width) {
		height: 130%;
		top: 10%;
	}
}

.description-section__container {
	color: #651c1c;
	display: grid;
	grid-gap: 10px;
	grid-template: 'r l' 100%/minmax(0, 50%) 50%;
	padding: rem(50) 0;
	position: relative;
	z-index: 10;


	@media (max-width: $table-width) {
		grid-template: 'l' auto
			'r'	auto
			'b' auto/minmax(0, 100%);
		margin-top: 10vh;
	}

	@media (max-width: $sm-table-width) {
		margin-top: 15vh;
	}

	.violet-gold {
		bottom: 0;
		left: 0;
		margin: auto 0;
		object-fit: cover;
		top: 0;
		transform: rotate(180deg);


		@media (max-width: $table-width) {
			width: 100%;
		}
	}

	.col-1 {
		grid-area: r;
		width: 100%;
	}

	.col-2 {
		grid-area: l;
		justify-content: center;
		width: 90%;

		@media (max-width: $table-width) {
			width: 100%;
		}
	}

	.description-heading {
		font-size: rem(60);
		line-height: rem(62);
		text-align: left;

		@media (max-width: $desktop-width) {
			font-size: rem(46);
		}

		@media (max-width: $table-width) {
			text-align: center;
		}
	}

	p {
		font-size: rem(22);
		margin-top: 25px;
	}

	.description-button {
		margin-top: rem(40);

		@media (max-width: $table-width) {
			justify-self: center;
			margin: auto;
		}
	}

	@media (max-width: $desktop-width) {
		max-width: $desktop-width;
	}
}

.divider {
	height: 40px;
	overflow: hidden;
	width: 100%;

	.div-img {
		height: 100%;
		width: 100%;
	}
}

hr {
	background: url('/assets/img/divider.png') no-repeat;
	background-size: 100% 100%;
	height: 38px;
	margin: 0;
}

.ztk-bg {
	background: url('/assets/img/ztk-bg.jpg') no-repeat;
	background-size: 100% 100%;
}

.exp-bg {
	background: url('/assets/img/exp-bg.jpg') no-repeat;
	background-size: 100% 100%;
}

.zul-bg {
	background: url('/assets/img/zul-bg.jpg') no-repeat;
	background-size: 100% 100%;
}

.bs-bg {
	background: url('/assets/img/bs-bg.jpg') no-repeat;
	background-size: 100% 100%;
}

.fraction-section {
	&__last {
		margin-bottom: rem(100);
	}

	&__container {
		display: grid;
		flex-grow: 1;
		grid-gap: rem(50);
		justify-content: center;
		margin-bottom: rem(40);
		z-index: 5;

		@media (max-width: $desktop-width) {
			margin-top: rem(80);
		}

		@media (max-width: $table-width) {
			grid-gap: rem(20);
			margin-bottom: 0;
			margin-top: rem(160);
		}

		@media (max-width: $sm-table-width) {
			grid-column-gap: rem(20);
			grid-row-gap: rem(60);
			margin-bottom: 0;
		}
	}

	&__container-left {
		grid-template: 'l r' auto/minmax(0, 60%) 40%;

		@media (max-width: $desktop-width) {
			grid-template: 'l r' auto/fit-content(60%) 40%;
		}

		@media (max-width: $sm-desktop-width) {
			margin-top: 0;
		}

		@media (max-width: $table-width) {
			grid-template: 'r r' auto
				'l l' auto
				'b b' auto/auto auto;
			margin-top: 0;
		}
	}

	&__container-right {
		grid-template: 'l r' auto/50% minmax(0, 50%);

		@media (max-width: $desktop-width) {
			grid-template: 'l r' auto/minmax(0, 50%) fit-content(50%);
			margin-top: 0;
		}

		@media (max-width: $table-width) {
			grid-template: 'l l' auto
				'r r' auto
				'b b' auto/auto auto;
			margin-top: 0;
		}
	}

	&__container_with-heading {
		grid-row-gap: rem(90);
		grid-template:  't t' rem(65)
			'l r' auto/50% minmax(0, 50%);
		margin-top: rem(150);

		@media (max-width: $desktop-width) {
			grid-row-gap: rem(60);
			grid-template:  't t' rem(45)
				'l r' auto/50% fit-content(50%);
		}

		@media (max-width: $table-width) {
			grid-template:  't t' rem(45)
				'l l' auto
				'r r' auto
				'b b' auto/auto auto;
		}

		@media (max-width: $sm-table-width) {
			grid-template:  't t' rem(45)
				'l l' auto
				'r r' auto
				'b b' auto/auto auto;
			margin-top: rem(150);
		}
	}

	.heading-fraction {
		color: #fff;
		font-size: rem(60);
		grid-area: t;
		text-align: center;

		@media (max-width: $table-width) {
			line-height: 100%;
			margin-bottom: rem(40);
		}
	}

	.ztk-heading {
		background-size: 100% 100%;
		color: #6b3333;
		font-size: rem(30);
		height: 200px;
		line-height: rem(38);
		padding: rem(50);

		@media (max-width: $desktop-width) {
			font-size: rem(25);
			margin-top: rem(40);
		}

		@media (max-width: $table-width) {
			height: 135px;
			justify-content: center;
			margin-top: rem(0);
			padding: 0 0 0 rem(30);
		}

		@media (max-width: $sm-table-width) {
			height: 100px;
			justify-content: center;
			margin-top: rem(0);
			padding: 0 0 0 rem(30);
		}
	}

	.col-left {
		grid-area: l;
		justify-content: end;
	}

	.col-right {
		grid-area: r;
		justify-content: end;
	}

	.fraction-description {
		color: #fff;
		font-size: rem(24);
		max-width: 500px;
	}

	.f-container {
		display: flex;
		flex-direction: column;
		margin-left: 20px;

		@media (max-width: $table-width) {
			margin-left: 0;
		}
	}

	.a-left {
		align-self: end;
		margin-left: auto;

		@media (max-width: $desktop-width) {
			margin: auto;
		}

		@media (max-width: $sm-desktop-width) {
			height: 400px;
		}

		@media (max-width: $table-width) {
			margin: auto;
		}
	}

	.a-right {
		align-self: start;
		margin-right: auto;

		@media (max-width: $desktop-width) {
			margin: auto;
		}

		@media (max-width: $sm-desktop-width) {
			max-height: 400px;
		}

		@media (max-width: $table-width) {
			margin: auto;
		}
	}

	.description-button {
		margin-top: 20px;

		@media (max-width: $table-width) {
			margin: auto;
		}
	}
}

.info-section {
	align-items: center;
	background: url('/assets/img/info-bg.jpg') no-repeat 50% 0;
	background-size: 200% 100%;
	flex-direction: column;
	max-height: 2500px;
	position: relative;


	&__inner {
		align-items: center;
		flex-direction: column;
	}

	.solid-scroll-bg {
		bottom: auto;
		height: 40%;
		left: 0;
		margin: auto;
		max-width: 1440px;
		object-fit: fill;
		position: absolute;
		right: 0;
		top: -(rem(60));
		width: 100%;
		z-index: 5;

		@media (max-width: $table-width) {
			height: 35%;
		}
	}
}

.scroll-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: center;
	padding: 0 rem(50);
	z-index: 10;

	@media (max-width: $table-width) {
		padding: 0 rem(10);
	}

	&__heading {
		align-self: start;
		color: #651c1c;
		font-size: rem(65);
		font-weight: 900;

		@media (max-width: $sm-desktop-width) {
			align-self: center;
			font-size: rem(45);
			line-height: rem(48);
		}
	}

	&__info {
		color: #491f1f;
		font-size: rem(22);
	}

	.join-button {
		margin-top: rem(50);
	}
}

.develop-container {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: rem(100);
	margin-top: rem(200);
	z-index: 10;

	@media (max-width: $table-width) {
		margin-bottom: rem(0);
		margin-top: rem(100);
	}

	&__heading {
		font-size: rem(60);
		line-height: rem(68);
		max-width: $desktop-width;

		@media (max-width: $table-width) {
			font-size: rem(34);
			line-height: rem(36);
		}
	}

	&__description {
		font-size: rem(22);
		margin-top: rem(60);
		max-width: rem(600);

		@media (max-width: $table-width) {
			margin-top: rem(20);
		}
	}

	.card-1 {
		background: linear-gradient(250deg, #020932 calc(100% - 30vw), rgba(0, 0, 0, 0) 100%), url('/assets/img/card-1.jpeg') no-repeat;
		justify-content: flex-end;
		overflow: hidden;

		@media (max-width: $table-width) {
			background: linear-gradient(0deg, #020932 50%, rgba(0, 0, 0, 0) 100%), url('/assets/img/card-1-mob.jpeg') 100% 0 no-repeat;
			background-size: cover;
		}
	}

	.card-2 {
		background: linear-gradient(250deg, rgba(0, 0, 0, 0) 0%, #020932 calc(100% - 35vw)), url('/assets/img/card-2.jpg') 100% 35% no-repeat;
		justify-content: flex-start;

		@media (max-width: $table-width) {
			background: linear-gradient(0deg, #020932 40%, rgba(0, 0, 0, 0)),url('/assets/img/card-2-mob.jpg') 80% 30% no-repeat;
			background-size: 100%;
		}
	}

	.card-3 {
		background: linear-gradient(-75deg, #020932 calc(100% - 35vw), rgba(0, 0, 0, 0) 100%), url('/assets/img/card-3.jpg') 0 25% no-repeat;
		justify-content: flex-end;

		@media (max-width: $table-width) {
			background: linear-gradient(0deg, #020932 50%, rgba(0, 0, 0, 0)),url('/assets/img/card-3-mob.jpg') 50% 20% no-repeat;
			background-size: cover;
		}
	}

	.verbosity-button {
		align-self: center;
	}
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	margin: rem(40) 0 rem(80);

	@media (max-width: $table-width) {
		margin: rem(40) 0 rem(40);
	}
}

.card+.card {
	margin-top: rem(30);
}

.card {
	background: #651c1c;
	border-radius: rem(10);
	display: flex;
	height: rem(260);
	position: relative;

	@media (max-width: $table-width) {
		height: rem(450);
		width: 100%;
	}

	&:hover {
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
		transition: all .5s linear;
	}

	&__heading {
		display: flex;
		font-size: rem(30);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 rem(40);

		@media (max-width: $table-width) {
			justify-content: flex-end;
			margin-bottom: 40px;

			@media (max-width: $table-width) {
				margin: rem(20);
			}
		}
	}

	&__description {
		display: flex;
		margin-top: rem(20);
		max-width: rem(450);

		@media (max-width: $table-width) {
			justify-content: flex-end;
			margin-bottom: 0;
			max-width: 100%;
		}
	}
}

.last-section {
	align-items: center;
	background: url('/assets/img/last-bg.jpg') no-repeat 50% 0;
	background-size: 200% 100%;
	flex-direction: column;

	.last-section__inner {
		color: #fff;
		z-index: 10;
	}
}

.last-section-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: rem(100);
	margin-top: rem(100);
	z-index: 10;

	@media (max-width: $table-width) {
		margin: rem(0);
	}

	&__heading {
		font-size: rem(60);
		line-height: rem(64);
		max-width: 80%;

		@media (max-width: $table-width) {
			font-size: rem(34);
			line-height: rem(36);
			max-width: 100%;
			text-align: center;
		}
	}

	&__description {
		font-size: rem(22);
		margin-top: rem(60);
		max-width: 80%;


		@media (max-width: $table-width) {
			margin-top: rem(30);
			max-width: 100%;
		}
	}

	.items-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: rem(220);
		max-width: 80%;

		@media (max-width: $table-width) {
			flex-direction: column;
			margin-top: rem(180);
			max-width: 100%;
		}
	}

	.item +.item {
		margin-left: rem(100);

		@media (max-width: $table-width) {
			margin: rem(150) 0 0;
		}
	}

	.item {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		position: relative;
		width: rem(460);

		@media (max-width: $table-width) {
			max-width: rem(500);
			width: 100%;
		}
	}

	.scroll-item {
		background-size: 100% 100%;
		display: flex;
		height: rem(165);
		left: -20px;
		margin-left: 0;
		position: absolute;
		text-align: center;
		top: -(rem(140));
		z-index: 15;

		@media (max-width: $desktop-width) {
			left: -30px;
		}

		@media (max-width: $table-width) {
			margin-right: -5%;
		}
	}

	.scroll-item__heading {
		color: #651c1c;
		font-size: rem(30);
		line-height: rem(36);
		margin: 0;
		max-width: 100%;
		padding: rem(20) rem(50);
	}

	.description {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		box-sizing: border-box;
		display: flex;
		font-size: rem(22);
		height: 100%;
		padding: rem(80) rem(30) rem(30);
		z-index: 10;

		@media (max-width: $table-width) {
			padding: rem(40) rem(20) rem(20);
		}
	}

	.desc-1 {
		background: url('/assets/img/dungeon.jpg') no-repeat 30% 30%;
		background-size: 130%;
	}

	.desc-2 {
		background: url('/assets/img/pvp.jpg') no-repeat 60% 60%;
		background-size: 150%;
	}

	.final-heading {
		margin-top: rem(150);
		text-align: center;


		@media (max-width: $table-width) {
			margin-top: rem(40);
		}
	}

	.final-description {
		max-width: 80%;

		@media (max-width: $table-width) {
			max-width: 100%;
		}
	}

	.last-button {
		margin-top: rem(100);

		@media (max-width: $table-width) {
			margin-top: rem(40);
		}
	}
}

footer {
	background: #070338;
	color: #fff;

	a:visited {
		color: #fff;
	}
}

.section__footer {
	display: flex;
	justify-content: space-between;
	margin: rem(20) rem(80);
	width: 100%;

	@media (max-width: $table-width) {
		flex-direction: column;
		margin: rem(20) rem(80);
	}

	.license {
		max-width: 50%;

		@media (max-width: $table-width) {
			max-width: 100%;
		}
	}
}

.contacts {
	display: flex;
	justify-content: space-between;
	max-width: 40%;

	li+li {
		color: #fff;
		margin-left: rem(30);
	}

	@media (max-width: $table-width) {
		margin: rem(20px) auto 0;
		max-width: 100%;
	}
}
