/* Reset
  ========================================================================== */

// Default
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

// Links
a {
	text-decoration: none;

	&:active,
	&:hover {
		outline: 0;
	}
}

// List
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

// Default
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus {
	outline: 0;
}

img,
audio,
video {
	height: auto;
	max-width: 100%;
}

audio,
canvas,
iframe,
video,
img,
svg {
	vertical-align: middle;
}

iframe {
	border: 0;
}

// From
textarea {
	box-shadow: none;
	box-shadow: none;
	box-shadow: none;
	overflow: auto;
	resize: none; /*remove the resize handle on the bottom right*/
	vertical-align: top;
}

input,
textarea,
select,
button {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
}

button,
input {
	line-height: normal;
}

// Table
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}
