/* Vars:
  ========================================================================== */

// Font
$main-font: 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$main-font-color: #101010;
$main-font-size: 18px;
$main-font-weight: 400;
$main-line-height: 1.4;

$lg-desktop-width: 1440px;
$desktop-width: 1280px;
$sm-desktop-width: 1024px;
$table-width: 812px;
$sm-table-width: 640px;
$phone-width: 480px;
$sm-phone-width: 320px;

// Main color
$default-color: #fff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

//container's width
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
