/* Mixins:
  ========================================================================== */

// px to rem
@function rem($pixels, $context: $main-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
	height: $height;
	width: $width;
}

/* stylelint-disable */
//noinspection CssInvalidPseudoSelector
@mixin placeholder {
	::input-placeholder {
		@content;
	}

	:placeholder {
		@content;
	}

	::placeholder {
		@content;
	}

	:input-placeholder {
		@content;
	}
}
/* stylelint-enable */

/* Fonts Helpers:
   Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
   ========================================================================== */

/*
  By default template support only modern format fonts
  Without svg. Only: .woff, .woffs
  if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"
  Usage:
    1. Put your fonts to `src/assets/fonts/FOLDERNAME/FONTNAME`
      FOLLOW: Files Required
      Example: .woff, .woffs formats
    2. Go to fonts.scss
    3. Use mixon
      Example: @include fonts-face("OpenSans", "../fonts/OpenSans/opensans");
    Required parameters: @family, @family
    Minor parameters: @weight, @style, @pipeline
    Example Base:
      @include fonts-face("OpenSans", "../fonts/OpenSans/opensans");
    Example Situation:
      @include fonts-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
*/

// Default: For modern format fonts
// Files Required: .woff, .woffs

@mixin font-face(
	$font-family,
	$file-path,
	$weight: normal,
	$style: normal,
	$asset-pipeline: false
) {
	@font-face {
		font-family: $font-family;
		font-style: $style;
		font-weight: $weight;

		src: url('#{$file-path}.ttf') format('ttf'),
			url('#{$file-path}.ttf') format('ttf');
	}
}

// For Modern format fonts + .svg
// Files Required: .woff, .woffs, .svg

// @mixin fonts-face(
//   $fonts-family,
//   $file-path,
//   $weight: normal,
//   $style: normal,
//   $asset-pipeline: false
// ) {
//   @fonts-face {
//     fonts-family: $fonts-family;
//     fonts-weight: $weight;
//     fonts-style: $style;

//     src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
//       url("#{$file-path}.woff") format("woff"),
//       url("#{$file-path}.woff2") format("woff2"),
//       url("#{$file-path}.svg") format("svg"),
//       url("#{$file-path}.ttf") format("truetype");
//   }
// }

// For Modern format fonts + .svg
// Files Required: eot. .woff, .woffs, .svg, .ttf

// @mixin fonts-face(
//   $fonts-family,
//   $file-path,
//   $weight: normal,
//   $style: normal,
//   $asset-pipeline: false
// ) {
//   @fonts-face {
//     fonts-family: $fonts-family;
//     fonts-weight: $weight;
//     fonts-style: $style;
//     src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
//       url("#{$file-path}.woff") format("woff"),
//       url("#{$file-path}.woff2") format("woff2"),
//       url("#{$file-path}.svg") format("svg"),
//       url("#{$file-path}.ttf") format("truetype");
//   }
// }
